div{
    background-color: #ffdab9;
    
}
/*quando utilizamos class é .*/
.b1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    color: #f08080;
    background-color: #f8d5a0;;
    border-color: #ffb5a7;
    border: 2px solid #ffb5a7;
    margin: 10px;
    padding: 10px;
    width: 80px;
    height: 20px;
}
    .b2{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color:#f8d5a0;
background-color:#f08080;
border-color: #ffb5a7;
border: 2px solid #ffb5a7;
margin: 10px;
padding: 10px;
width: 80px;
height: 20px;
    }

    .agrupamento{
        background-color: #fcc08c;
        padding: 20px;
        margin: 10px;
        border: 1px solid #fcc08c;

    }

    #ei{
        background-color: #ffe5d9;
        padding: 20px;
        margin: 10px;
        border 1px solid #ffe5d9;

    }

