body{ /*altera propriedades do conteúdo html*/
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin:0 auto;
    background-image:linear-gradient(to right, #0B1726, #1f3f66);
}
header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #161616;
    border-radius: 5px;
    margin-top: 10px;
}
.logo img{
    width: 50%;
    padding-top: 50px;
}
.navegacao{
    overflow: hidden; /*Esconde a barra de rolagem*/
}
.navegacao a{ /*Alterações permanentes*/
    float: right;
    color: rgb(173, 173, 173);
    text-decoration: none;
    padding: 10px;
}
.navegacao a:hover{ /*Alterações em um estado específico*/
    color: #e32936;
}
.conteudo{
    background-color: gainsboro;
    text-align: justify;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 10px 20px 10px;
    box-shadow: 10px 10px 10px #08101a98;
    float: left; 
}
h2{
       color: #1f3f66; 
}  
.principal{
    display: flex;
}
.conteudo:hover{
    background-color: rgb(206, 205, 205);
}
.central{
    width: 4500px;
}
.rodape{
    color: #9c9c9c;
    font-size: 10px;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .principal, .conteudo{
        width: 100%;
        flex-direction: column;
        padding: 0px;
    }
}